h1 .basket-title{
    text-transform: capitalize;
    margin-top: 50px;
}

.basket-order{
    margin-top: 50px;
    margin-bottom: 100px;
}

.basket-order-button{
    margin-left: 40px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffc85e;
    border: none;
    border-radius: 80px;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter',sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 45px;
    width: 153px;
}