@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    color: #111;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.footer-wrapper {
    background-color: #3F4E65;
    height: 500px;
    padding-top: 71px;
    padding-left: 90px;
    padding-right: 70px;
    color: #fff;
    width: 1360px;
}

.footer-all {
    display: flex;
    justify-content: center;

}

.footer-main-info {
    display: flex;
    flex-direction: column;
    width: 323px;
    font-size: 18px;
    line-height: 1.5;

}

.sultan-logo-footer {
    margin-bottom: 15px;
}

.footer-search {
    background-color: transparent;
}

.footer-sales {
    font-size: 12px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.search-icon-footer {
    margin-left: 146px;
    margin-top: -50px;
    margin-bottom: 25px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    width: 200px;
}

.footer-menu {
    width: 129px;
    margin-left: 59px;
}

.footer-list-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer-categories {
    margin-left: 95px;
}

.footer-price-list {
    margin-left: 60px;
    margin-right: 60px;
}

.footer-button {
    margin-top: 25px;
    margin-bottom: 20px;
}

.footer-link-info {
    display: flex;
    flex-direction: column;
}

.link-images {
    flex-direction: row;
}

.footer-links {
    margin-bottom: 15px;
}

.whatsapp-icon {
    margin-right: 10px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-bottom: 25px;
}

.email-link {
    font-size: 12px;
    font-weight: 300;
}

.email-text {
    margin-bottom: 25px;
}

.Visa-logo {
    margin-right: 5px;
}

@media (max-width: 900px) {
    .footer-wrapper {
        max-width: 600px;
        height: 1500px;
    }

    .footer-all {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-categories {
        margin: 0 auto;
    }

    .footer-menu {
        margin: 0 auto;
        width: auto;
    }
}

@media (max-width: 480px) {
    .footer-wrapper {
        max-width: 300px;
        height: 1500px;
    }

    .footer-main {
        width: 250px;
        display: flex;
        flex-direction: column;
    }

    .footer-main-info {
        width: 250px;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        line-height: 1.5;

    }

    .input-search {
        color: #111;
        background-color: #fff;
        width: 169px;
    }
}