@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    background-color: #fff;
    color: #111;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.wrapper {
    width: 1360px;
    margin: 0 auto;
}

.header-top {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
}

.header-contacts {
    display: flex;
    justify-content: space-between;
    width: 494px;
}

.adress,
.email {
    display: flex;
    font-weight: 600;
    gap: 15px;
}

.adress span,
.email span {
    color: #3f4e65;
    font-size: 12px;
    font-weight: 300;
}

.location-icon {
    height: 30%;
    margin-top: 25px;
}

.adress-text,
.email-text {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
}

.adress-text {
    width: 275px;
}

.email-text {
    width: 178px;
}

ul li {
    list-style: none;
    display: inline;
    border-right: 1px dashed rgba(63, 78, 101, 0.1);
    padding: 4px 30px 4px 0;
}

li:last-child {
    border-right: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 512px;
}

.header-bottom {
    display: inline-flex;
    width: 100%;
    height: 108px;
    border-top: 2px solid rgba(63, 78, 101, 0.1);
    border-bottom: 2px solid rgba(63, 78, 101, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-sultan {
    margin-right: 38px;
}

button.catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc85e;
    border: none;
    border-radius: 80px;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 59px;
    width: 192px;
    margin-right: 15px;
}

button.search,
button.footer-search {
    cursor: pointer;
}

.catalog-icon {
    height: 25%;
    margin-left: 12px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-search {
    background-color: #ededed;
    border: none;
    border-radius: 35px;
    color: #5c6370;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 59px;
    padding-left: 20px;
    width: 263px;
    margin-right: -50px;
}

.search-icon {
    background-color: #EDEDED;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 35px;
    line-height: 18px;
}

span.tel {
    font-weight: 600;
}

span.work-time {
    font-size: 12px;
    font-weight: 300;
}

a.order-call {
    font-size: 10px;
    font-weight: 400;
    text-decoration: underline;
}

button.price-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc85e;
    border: none;
    border-radius: 80px;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 59px;
    width: 192px;
    margin-right: 15px;
}

.contacts-icon {
    margin-top: -15px;
    margin-left: 12px;
    margin-right: 50px;
}

.price-list-icon {
    margin-left: 12px;
}

.header-basket {
    display: flex;
    align-items: center;
}

.header-basket-main {
    display: flex;
}

.header-basket-icon {
    margin-right: 29px;
}

.header-basket-info {
    line-height: 20px;
}

.header-basket-name {
    font-size: 12px;
    font-weight: 300;
    color: #3f4e65;
}

.header-basket-price {
    font-weight: 600;
    color: #3f4e65;
}

input#menu__toggle {
    display: none;
}

@media (max-width: 900px) {
    .wrapper {
        max-width: 600px;
    }

    .header-top {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        align-items: flex-end;
    }

    .header-bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 50px;
        width: 655px;
        line-height: 50px;
    }

    .contacts {
        margin-left: 30px;
    }

    .contacts-icon {
        margin-right: 20px;
    }

    span.tel {
        width: 140px;
    }

    button.price-list {
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media (max-width: 480px) {
    .wrapper {
        max-width: 300px;
    }

    .nav {
        flex-direction: column;
        text-align: center;
        line-height: 3px;
    }

    .header-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-info span {
        margin-left: 46px;
    }

    .banner .wrapper {
        width: 76%;
        margin-bottom: -8%;
        margin-left: 17%;
    }

    .background-green-email {
        max-height: 42%;
    }

    .grid-item-left {
        background-color: transparent;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        margin-bottom: -112px;

    }

    .grid-item-right {
        margin: 0 auto;
        margin-bottom: -112px;
    }

    .wrapper .hamburger-menu {
        display: block;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
    }

    .menu__btn {
        background-color: #ffc85e;
        border-radius: 50%;
        display: flex;
        align-items: center;
        position: fixed;
        padding: 0 0 0 0;
        top: 20px;
        left: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        height: 2px;
        background-color: #ffffff;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ffffff;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        transition-duration: .25s;
        -webkit-tap-highlight-color: transparent;
    }

    .menu__item:hover {
        background-color: #ffc95e38;
        border-radius: 20px;
    }

    .menu__item:active {
        background: #ffc95edc;
        border-radius: 20px;
    }

    .adress-text,
    .adress,
    .email,
    .search-icon,
    .contacts,
    .contacts-icon,
    button.price-list,
    .catalog-header-info {
        display: none;
    }

    .header-top {
        margin-top: -122px;

    }

    .sultan-icon {
        margin-left: 60px;
    }

    .header-bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 50px;
        width: 300px;
        line-height: 50px;
    }

    button.catalog {
        color: #111;
        background-color: #fff;
        margin-left: 10px;
        width: 50px;
        margin-right: 100px;
    }

    .input-search {
        color: #111;
        background-color: #fff;
        width: 100px;
    }
}