.item {
    width: 326px;
    height: 490px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    margin-right: 21px;
    padding-left: 23px;
    margin-top: 21px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image_url {
    margin-left: 20px;
    height: 50%;
    width: 76%;
}

.item-info {
    display: flex;
    flex-direction: column;
    line-height: 22px;
}

.item-size,
.item-manufacturer,
.item-barcode,
.item-brand {
    color: #3f4e65;
    font-size: 12px;
    font-weight: 400;
}

.item-span {
    color: #111;
    font-weight: 700;
}

.purchase {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.purchase-price {
    margin-top: 5px;
}

.button-item {
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 40px;
    padding-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffc85e;
    border: none;
    border-radius: 80px;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 45px;
    width: 153px;
}

.purshase-basket {
    margin: -35px 0 26px 150px;
}

@media (max-width: 900px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        width: 100px;
    }

    .purchase {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 480px) {
    .product {
        display: flex;
        flex-wrap: wrap;
        width: 200px;
    }
}